body {
    font-size: 16px;
    line-height: 23px;
    font-weight: 300;
    -webkit-font-smoothing: subpixel-antialiased;
    color: #333;
    padding-top: 70px;
  }
  
  body *::selection {
    background: #e67e22;
    color: #fff;
  }
  
  .container {
    max-width: 980px;
  }
  
  .top-strip {
    background-color: #000;
    height: 0.25em;
    width: 100%;
  }
  
  h1,h2,h3 {
    color: #1a1a1a;
    font-weight: 300;
  }
  
  h1 {
    margin: 0 0 30px;
    font-size: 60px;
    line-height: 35px;
  }
  
  h2 {
    margin: 0 0 10px;
    font-size: 25px;
    line-height: 30px;
  }
  
  h3 {
    margin: 30px 0;
    font-size: 30px;
    line-height: 25px;
    text-decoration: underline;
  }

  h4 {
      font-size:20px;
  }
  
  .page-header {
    margin-top: 20px;
    /*border-color: #3498db;*/
  }
  
  p.authors {
    margin-bottom: 5px;
    color: #808080;
    font-size: 20px;
  }
  
  p.authors a {
    border-color: #dedede;
  }
  
  img {
    max-width: 100%;
  }
  
  p {
    text-align: justify;
  }
  
  a {
    text-decoration: none;
    border-bottom: 1px solid #ccc;
    color: inherit;
  }
  
  .navbar a {
    border-bottom: 0;
  }
  
  p.lead.authors a {
    border-bottom: none;
  }
  
  a:hover, a:focus {
    color: inherit;
    text-decoration: none;
  }
  
  .thumb {
    margin: 20px 0;
    border: 1px solid #808080;
  }
  
  pre {
    color: #333;
    font-size: 12px;
    line-height: 17px;
  }
  
  #vimeo-embed {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: auto;
  }
  
  #vimeo-embed iframe,
  #vimeo-embed object,
  #vimeo-embed embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .people-pic {
    max-width: 125px;
    max-height: 125px;
  }
  
  .people-name {
    margin: 5px 0 10px;
  }
  
  .people-name h6 {
    margin: 2px 0;
    font-weight: 300;
    font-size: 11px;
  }
  
  #sequence {
    height: 70px;
  }
  
  #legend {
    padding: 10px 0 0 3px;
  }
  
  #sequence text, #legend text {
    font-weight: 300;
    fill: #fff;
  }
  
  #chart {
    position: relative;
    border-right: 1px solid #eee;
  }
  
  #chart path {
    stroke: #fff;
  }
  
  #explanation {
    position: absolute;
    top: 240px;
    left: 180px;
    width: 140px;
    text-align: center;
    color: #666;
    z-index: -1;
  }
  
  #percentage {
    font-size: 2.5em;
  }
  
  .sponsor img {
    max-height: 150px;
    max-width: 350px;
    /*border: 1px solid black;*/
    padding: 10px;
    margin-right: 20px;
  
  }
  
  .vid-container {
    position: relative;
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
  }
  
  .vid-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }
   
 /* start css.sty */
.cmr-5{font-size:50%;}
.cmr-7{font-size:70%;}
.cmmi-5{font-size:50%;font-style: italic;}
.cmmi-7{font-size:70%;font-style: italic;}
.cmmi-10{font-style: italic;}
.cmsy-5{font-size:50%;}
.cmsy-7{font-size:70%;}
.cmbx-10{ font-weight: bold;}
.cmbsy-10{font-weight: bold;}
.cmbsy-10{font-weight: bold;}
.cmbsy-10{font-weight: bold;}
.cmbsy-7{font-size:70%;font-weight: bold;}
.cmbsy-7{font-weight: bold;}
.cmbsy-7{font-weight: bold;}
.cmbsy-5{font-size:50%;font-weight: bold;}
.cmbsy-5{font-weight: bold;}
.cmbsy-5{font-weight: bold;}
.cmr-17{font-size:170%;}
.cmr-12{font-size:120%;}
.cmti-10{ font-style: italic;}
p.noindent { text-indent: 0em }
td p.noindent { text-indent: 0em; margin-top:0em; }
p.nopar { text-indent: 0em; }
p.indent{ text-indent: 1.5em }
@media print {div.crosslinks {visibility:hidden;}}
a img { border-top: 0; border-left: 0; border-right: 0; }
center { margin-top:1em; margin-bottom:1em; }
td center { margin-top:0em; margin-bottom:0em; }
.Canvas { position:relative; }
math { text-indent: 0em; }
li p.indent { text-indent: 0em }
li p:first-child{ margin-top:0em; }
li p:last-child, li div:last-child { margin-bottom:0.5em; }
li p~ul:last-child, li p~ol:last-child{ margin-bottom:0.5em; }
.enumerate1 {list-style-type:decimal;}
.enumerate2 {list-style-type:lower-alpha;}
.enumerate3 {list-style-type:lower-roman;}
.enumerate4 {list-style-type:upper-alpha;}
div.newtheorem { margin-bottom: 2em; margin-top: 2em;}
.obeylines-h,.obeylines-v {white-space: nowrap; }
div.obeylines-v p { margin-top:0; margin-bottom:0; }
.overline{ text-decoration:overline; }
.overline img{ border-top: 1px solid black; }
td.displaylines {text-align:center; white-space:nowrap;}
.centerline {text-align:center;}
.rightline {text-align:right;}
div.verbatim {font-family: monospace; white-space: nowrap; text-align:left; clear:both; }
.fbox {padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.fbox {display:table}
div.center div.fbox {text-align:center; clear:both; padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.minipage{width:100%;}
div.center, div.center div.center {text-align: center; margin-left:1em; margin-right:1em;}
div.center div {text-align: left;}
div.flushright, div.flushright div.flushright {text-align: right;}
div.flushright div {text-align: left;}
div.flushleft {text-align: left;}
.underline{ text-decoration:underline; }
.underline img{ border-bottom: 1px solid black; margin-bottom:1pt; }
.framebox-c, .framebox-l, .framebox-r { padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
.framebox-c {text-align:center;}
.framebox-l {text-align:left;}
.framebox-r {text-align:right;}
span.thank-mark{ vertical-align: super }
span.footnote-mark sup.textsuperscript, span.footnote-mark a sup.textsuperscript{ font-size:80%; }
div.tabular, div.center div.tabular {text-align: center; margin-top:0.5em; margin-bottom:0.5em; }
table.tabular td p{margin-top:0em;}
table.tabular {margin-left: auto; margin-right: auto;}
td p:first-child{ margin-top:0em; }
td p:last-child{ margin-bottom:0em; }
div.td00{ margin-left:0pt; margin-right:0pt; }
div.td01{ margin-left:0pt; margin-right:5pt; }
div.td10{ margin-left:5pt; margin-right:0pt; }
div.td11{ margin-left:5pt; margin-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
td.td00{ padding-left:0pt; padding-right:0pt; }
td.td01{ padding-left:0pt; padding-right:5pt; }
td.td10{ padding-left:5pt; padding-right:0pt; }
td.td11{ padding-left:5pt; padding-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
.hline hr, .cline hr{ height : 1px; margin:0px; }
.tabbing-right {text-align:right;}
span.TEX {letter-spacing: -0.125em; }
span.TEX span.E{ position:relative;top:0.5ex;left:-0.0417em;}
a span.TEX span.E {text-decoration: none; }
span.LATEX span.A{ position:relative; top:-0.5ex; left:-0.4em; font-size:85%;}
span.LATEX span.TEX{ position:relative; left: -0.4em; }
div.float, div.figure {margin-left: auto; margin-right: auto;}
div.float img {text-align:center;}
div.figure img {text-align:center;}
.marginpar {width:20%; float:right; text-align:left; margin-left:auto; margin-top:0.5em; font-size:85%; text-decoration:underline;}
.marginpar p{margin-top:0.4em; margin-bottom:0.4em;}
.equation td{text-align:center; vertical-align:middle; }
td.eq-no{ width:5%; }
table.equation { width:100%; } 
div.math-display, div.par-math-display{text-align:center;}
mtr.hline mtd{ border-bottom:black solid 1px; padding-top:2px; padding-bottom:0em; }
mtr.hline mtd mo{ display:none }
math .texttt { font-family: monospace; }
math .textit { font-style: italic; }
math .textsl { font-style: oblique; }
math .textsf { font-family: sans-serif; }
math .textbf { font-weight: bold; }
mo.MathClass-op + mi{margin-left:0.3em}
mi + mo.MathClass-op{margin-left:0.3em}
 math mi[mathvariant="bold"] { font-weight: bold; font-style: normal; } 
 math mi[mathvariant="normal"] { font-weight: normal; font-style: normal; } 
.partToc a, .partToc, .likepartToc a, .likepartToc {line-height: 200%; font-weight:bold; font-size:110%;}
.index-item, .index-subitem, .index-subsubitem {display:block}
div.caption {text-indent:-2em; margin-left:3em; margin-right:1em; text-align:left;}
div.caption span.id{font-weight: bold; white-space: nowrap; }
h1.partHead{text-align: center}
p.bibitem { text-indent: -2em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
p.bibitem-p { text-indent: 0em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
.paragraphHead, .likeparagraphHead { margin-top:2em; font-weight: bold;}
.subparagraphHead, .likesubparagraphHead { font-weight: bold;}
.quote {margin-bottom:0.25em; margin-top:0.25em; margin-left:1em; margin-right:1em; text-align:justify;}
.verse{white-space:nowrap; margin-left:2em}
div.maketitle {text-align:center;}
h2.titleHead{text-align:center;}
div.maketitle{ margin-bottom: 2em; }
div.author, div.date {text-align:center;}
div.thanks{text-align:left; margin-left:10%; font-size:85%; font-style:italic; }
div.author{white-space: nowrap;}
.quotation {margin-bottom:0.25em; margin-top:0.25em; margin-left:1em; }
.abstract p {margin-left:5%; margin-right:5%;}
div.abstract {width:100%;}
dt.printshorthands{float:left; clear:left; margin-right:1em;}
dd.thebibliography {margin-left: 2.5em;}
dt.thebibliography {float:left; clear:left; margin-right:1em;}
body { margin:auto; padding: 1in; max-width:7in;}
/* end css.sty */

